/* Google font */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'digital-7m';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/digital-7m.ttf) format('truetype');
}

body {
	/*#fff*/
	background-color: #121212;	
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 150px;
}

html {
	height: 100%;
}

.top_div_spacer {
	padding-top: 10px;
	height: 30%;
}

.container-fluid {
	height: 100%;
}

#clock, #date, #message, #blinking-message{
	font-family: 'digital-7m', sans-serif;
	color: #66ff99;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.blinking{
    animation:blinkingText 1.5s infinite;
}

@keyframes blinkingText{
    0%  {    color: #66ff99; }
    40% {    color: #66ff99; }
    100%{    color: #121212; }
}
